.head-flex {
  background-color: #5E73DD;
  display: flex;
}

.img-brand {
  height: 32px;
}

.head-menu-navigation {
  display: flex;
  list-style: none;
}

.head-menu-navigation > li > a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

.active-link {
  background: rgba(0,0,0,.2);
}
