.nav {
  background-color: #f4f5f7;
  width: 200px;
  height: 100%;
  position: fixed;
}

.nav-flex {
  display: flex;
  flex-direction: column;
}

.nav-flex > button {
  text-align: start;
}

.nav-header-categ {
  font-weight: bold;
  padding-left: 2em;
  margin: 10px;
}
