<div class="nav">
  <nav class="nav-flex">
    <span class="nav-header-categ">Menu</span>
    <button mat-button routerLink="" routerLinkActive="active-link">
      <mat-icon>home</mat-icon>
      Tableau de bord
    </button>
    <button mat-button routerLink="" routerLinkActive="active-link"><span class="material-icons">bar_chart</span>
      Statistiques
    </button>
  </nav>
  <nav class="nav-flex">
    <span class="nav-header-categ">Management</span>
    <button mat-button routerLink="stock" routerLinkActive="active-link"><span class="material-icons">inventory</span>
      Stocks
    </button>
    <button mat-button routerLink="product" routerLinkActive="active-link"><span
      class="material-icons">shopping_cart</span> Produits
    </button>
    <button mat-button routerLink="order" routerLinkActive="active-link"><span
      class="material-icons">shopping_bag</span> Commandes
    </button>
    <button mat-button routerLink="" routerLinkActive="active-link"><span class="material-icons">local_shipping</span>
      Livraisons
    </button>
    <button mat-button routerLink="customer" routerLinkActive="active-link"><span
      class="material-icons">support_agent</span> Clients
    </button>
  </nav>
</div>
