<div>
  <div class="container-fluid d-flex">
    <div class="col-3">
      <span class="card-text">{{ customer.id }}</span>
    </div>
    <div class="col-3">
      <p class="card-text">{{ customer.firstname }}</p>
    </div>
    <div class="col-3">
      <p class="card-text">{{ customer.lastname }}</p>
    </div>
    <div class="col-3">
      <a>
        <button mat-icon-button (click)="openEditDialog()">
          <mat-icon color="primary">edit</mat-icon>
        </button>
      </a>
      <button mat-icon-button (click)="deleteProduct()">
        <mat-icon color="warn">delete</mat-icon>
      </button>
    </div>
  </div>
</div>

